@using PrefinalMobSys1.Data
@inject AppShellContext AppShell
<nav class="mobile-nav" onclick="hideMenu()">
    @if (AppShell.IsUserLoggedIn)
    {
        if (AppShell.CurrentUser!=null)
        {
            <div class="userpane">
                Hi @AppShell.CurrentUser.Username
            </div>
        }
    }
    <ul>
        <li>
            <a class="nav-link" href="">
                <i class="fa fa-home"></i>&nbsp;Home
            </a>
        </li>
        <li>
            <a class="nav-link" href="register">
                <i class="fa fa-list"></i>&nbsp;Register
            </a>
        </li>
        <li>
            <a class="nav-link" href="login">
                <i class="fa fa-sign-in-alt"></i>&nbsp;Login
            </a>
        </li>
        <li>
            <a class="nav-link" href="catalog">
                <i class="fa fa-store"></i>&nbsp;Catalog
            </a>
        </li>
        <li>
            <a class="nav-link" href="mycart">
                <i class="fa fa-shopping-cart"></i>&nbsp;My Cart
            </a>
        </li>
        <li>
            <a class="nav-link" href="myorders">
                <i class="fa fa-truck"></i>&nbsp;My Orders
            </a>
        </li>
        <hr />
        <!--Admin Pages Here-->
        <li>
            <a class="nav-link" href="products">
                <i class="fa fa-dolly-flatbed"></i>&nbsp;Products
            </a>
        </li>
        <li>
            <a class="nav-link" href="orders">
                <i class="fa fa-cash-register"></i>&nbsp;Orders
            </a>
        </li>
        <li>
            <a class="nav-link" href="users">
                <i class="fa fa-users"></i>&nbsp;Users
            </a>
        </li>
    </ul>
</nav>

@code {
    protected override void OnInitialized()
    {
        AppShell.OnChange += StateHasChanged;
    }

    public void Dispose()
    {
        AppShell.OnChange -= StateHasChanged;
    }
}